body {
  margin: 0;
  padding: 0;
}
body #colorName {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
}
body .boxes {
  width: 800px;
  padding: 40px 50px;
  row-gap: 50px;
  column-gap: 15px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-content: center;
  background: #2f2e41;
  border-radius: 15px;
}
body .boxes .box {
  width: 160px;
  height: 160px;
  display: grid;
  place-items: center;
  border-radius: 10px;
  border: 0;
}
